DATABASE_URL="postgresql://protutal_dev:Ruben2009.@10.106.152.30:5432/protutal?schema=public"

Secret JWT https://www.md5hashgenerator.com/
JWT_SECRET=0ffdb24d5667f0346b0f219a63494b9d

# Cloudinary
CLOUDINARY_NAME=...
CLOUDINARY_KEY=...
CLOUDINARY_SECRET=...

base_url = http://localhost:3333/

# Domínios de e-mail aceitos no cadastro, separados por vírgula
DOMINIOS_PERMITIDOS=portalsesi.org.br